### Upsampling

In [4]:
import numpy as np
import pandas as  pd

np.random.seed(123)

#Create a dataframe with 2 classes
n_samples=1000
class0_ratio=0.9
n_class_0= int(n_samples  * class0_ratio )
n_class_1 = n_samples - n_class_0

In [5]:
n_class_0 , n_class_1

(900, 100)

In [12]:
#Create my dataframe with imbalance data
class_0 = pd.DataFrame({
"Feature1" :np.random.normal(loc=0 , scale=1 , size=n_class_0),
"Feature2": np.random.normal(loc=0 , scale=1 , size =n_class_0),
"target":[0] * n_class_0
}) 

class_1 = pd.DataFrame({
"Feature1" :np.random.normal(loc=0 , scale=1 , size=n_class_1),
"Feature2": np.random.normal(loc=0 , scale=1 , size =n_class_1),
"target":[1] * n_class_1
})

In [19]:
df=pd.concat([class_0 , class_1]).reset_index(drop=True)

In [20]:
df.head()

   Feature1  Feature2  target
0 -0.367419 -0.016102       0
1  0.575273  0.747010       0
2  0.439351 -0.257842       0
3 -0.728152  0.561622       0
4 -0.888530  0.295353       0

In [21]:
df.tail()

     Feature1  Feature2  target
995  0.300311  1.140850       1
996  0.777139 -0.571378       1
997  0.589859  0.675585       1
998 -1.986714  0.244925       1
999 -0.339859  1.691645       1

In [22]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

In [ ]:
df_minority=  df[df['target']==1]
df_majority = df[df['target']==0]
df_minority   # minority here has 100 samples that needs to
               #be upsampled in order to balance the data

     Feature1  Feature2  target
900 -1.276434  0.301225       1
901  0.054508 -0.064949       1
902 -0.635039 -0.606403       1
903 -0.490176 -0.228661       1
904 -0.433896  1.776112       1
..        ...       ...     ...
995  0.300311  1.140850       1
996  0.777139 -0.571378       1
997  0.589859  0.675585       1
998 -1.986714  0.244925       1
999 -0.339859  1.691645       1

[100 rows x 3 columns]

In [35]:
from sklearn.utils import resample

df_minority_upsampled=resample(df_minority , replace=True,
                               n_samples=len(df_majority) , random_state=42)

In [40]:
df_minority_upsampled.shape

(900, 3)

In [42]:
df_majority.shape

(900, 3)

In [45]:
df_upsampled=pd.concat([df_minority_upsampled , df_majority])

In [ ]:
df_upsampled['target'].value_counts()

1    900
0    900
Name: target, dtype: int64

### Downsampling

In [49]:
df_minority=  df[df['target']==1]
df_majority = df[df['target']==0]

In [50]:
from sklearn.utils import resample

df_majority_downsampled= resample(df_majority , replace=False,
                        n_samples=len(df_minority))

In [51]:
df_majority_downsampled.shape

(100, 3)

In [52]:
df_downsampled= pd.concat([df_minority , df_majority_downsampled])

In [54]:
df_downsampled['target'].value_counts()

1    100
0    100
Name: target, dtype: int64