In [3]:
name="heo"
print(name)

heo

In [14]:
#determine whether a yaer is a leap year

year=int(input("Enter the year"))

if year%4==0:
    if year%100==0:
        if year%400==0:
            print(year, "is a leap year")
        else:
            print(year, "is not a leap year")
    else:
        print(year,"is a leap  year")
else:
    print(year,"is not a leap year")

2026 is not a leap year

In [7]:
#Calcuatror using nested ifelse
num1=float(input("Enter your no"))
num2=float(input('Enter your no'))
operation=input(" +,-,*,/")

if operation=="+":
    result=num1+num2
elif operation=="-":
    result=num1-num2
elif operation=="*":
    result=num1*num2
elif operation=="/":
    if num2 !=0:
        result=num1/num2
    else:
        print("INvalid")
else:
    print("INvalid operation")


print("Result:",result)

Result: 200.0

##### For loop: Iterates over aa seq or a range ,for traversing

In [17]:
for i in range(1,11):    # iterates till n-1
    print(i)             #last no mentioned in th eloop will not be considered

1
2
3
4
5
6
7
8
9
10

In [22]:
#print even no using  for loop
for i in range(2,11,2):
    print(i)
for j in range(5,51,5):
    print(j)

2
4
6
8
10
5
10
15
20
25
30
35
40
45
50

In [26]:
#print th eno inreverse usingfor loop
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [29]:
#traversing the string
str="Meghana Bhairi"
for i in str:
    print(i)

M
e
g
h
a
n
a

B
h
a
i
r
i

In [30]:
#printing nos using while
count=0
while count<6:
    print(count)
    count=count+1

0
1
2
3
4
5

In [47]:
#LOOP CONTROL STATEMENTS
#break
for i in range(10):
    if i==6:
        break
    print(i)

0
1
2
3
4
5

In [55]:
#continue
# print odd nos using continue
#continue skips the current iteration and continues with the next
for i in range(21):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19

In [56]:
#PAAS  it is null operation
for i in range(6):
    if i==3:
        pass
    print(i)

0
1
2
3
4
5

In [59]:
#Nested loops
for i in range(5):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1
i:3 and j:0
i:3 and j:1
i:4 and j:0
i:4 and j:1

In [66]:
# calculate the sum of first n nos using while loop
n=3
sum=0
count=1
while count <= n:
    sum=n*(n+1)/2
    count=count+1
print(f"Sum of first {n} natural no is ", sum)

Sum of first 3 natural no is  6.0

In [72]:
#calculate using for
sum=0

for i in range(5):
    sum=i*(i+1)/2
print(f"Sum of first {i} natural no is ", sum)

Sum of first 4 natural no is  10.0

In [74]:
sum=0
for i in range(3):
    sum=sum+i
print(f"Sum of first {i} natural no is ", sum)

Sum of first 2 natural no is  3

In [82]:
#prime nos between 1 to 100

for num in range(1,21):
    if num>1:
        for i in range(2,num):
            if num%2==0:
                break
        else:
            print(num)

2
3
5
7
9
11
13
15
17
19

In [18]:
#lists are ordered mutable
#list methods
list=[1,2,4,5]
list.append(6) #inserts at th end
list.insert(2,3)   # inserts at specific pos
list.insert(3,3)
list.remove(3)  #removes first occrence of th eduplicated value
list.pop()     #removes th ele in th last
count=list.insert(2,2)
print(count)
index=list.index(1)

print(list)
print(index)

None
[1, 2, 2, 3, 4, 5]
0

In [21]:
list.clear() #empties th elist
print(list)

[]

In [32]:
num=[1,2,3,4,5,6,7,8,9,10]
print(num[:5])
print(num[:8])
print(num[1:6])
print(num[::2])
print(num[::5])
print(num[::-1])
print(num[::-3])

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8]
[2, 3, 4, 5, 6]
[1, 3, 5, 7, 9]
[1, 6]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 7, 4, 1]

In [33]:
#iterating lists
for x in num:
    print(x)

1
2
3
4
5
6
7
8
9
10

In [34]:
#Iterating lists with index
for index,num in enumerate(num):
    print(index,num)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [40]:
#list comprehension
list=[]
for x in range(10):
    list.append( x*2)    # appending    multiple of 2elemnts inthe list
print(list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [3]:
lst=[]
for x in range(1,11):
    lst.append(x*2)
print(lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
[x*2 for x in range(1,11)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

#### BASIC SYNTAX:            expression for item in iterable

#### With conditional syntax: expression for item iterable   if condition

#### Nested list comprehension : expressionfor item1 in iterable1 for item2 in iterable2

In [ ]:
[x+1 for x in range(11) if x>=5]

In [13]:
square=[x**2 for x in range(21)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [15]:
lst=[]
for x in range(11):
    if x%2==0:
        lst.append(x)

print(lst)

[0, 2, 4, 6, 8, 10]

In [20]:
[ num for num in range(11) if num%2==0]

[0, 2, 4, 6, 8, 10]

In [23]:
lst1=[1,2,3]
lst2=['a','b','c']
pair=[(i,j)for i in lst1 for j in lst2]
print(pair)

[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

#### Tuple Methods

In [7]:
tuple=(1,2,3,4,4,4,5,6,7,8,9,10)
print(tuple)
print(tuple.count(4))
print(tuple.index(2))

(1, 2, 3, 4, 4, 4, 5, 6, 7, 8, 9, 10)
3
1

### Funsctions

In [1]:
##positional arguments

def print_nos(*args):
    for num in args:
        print(num)

print_nos(1,2,3,6,7,4,3,6,7)

1
2
3
6
7
4
3
6
7

In [5]:
##Keyword arguments 
def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

print_details(nmae="Megha",age="45",gender="Female")

nmae:Megha
age:45
gender:Female

In [1]:
###File and directory access
import os
print(os.getcwd())

c:\Users\HP\Desktop\Projects\Python Basics

In [3]:
###Data serialization
import json
data={'name':'Shreya','age':'15'}
json_str=json.dumps(data)
print(json_str)
print(type(json_str))

parsed_data=json.loads(json_str)
print(parsed_data)
print(type(parsed_data))

{"name": "Shreya", "age": "15"}
<class 'str'>
{'name': 'Shreya', 'age': '15'}
<class 'dict'>

In [4]:
import csv 

with open('example.csv', mode='w', newline= ' ') as file:
    writer=csv.writer(file)
    writer.writerow(["name","age"])
    writer.writerow(['krish ', '35'])

with open('example.csv', mode='r') as file:
    reader=csv.reader(file)
    for row in reader:
        print(row)

ValueError: illegal newline value:

In [7]:
from datetime import datetime, timedelta

now=datetime.now()
print(now)

yestrday=

2025-01-23 19:29:27.566169