In [2]:
#Degree conversion
def deg_conversion(temp,unit):
    if unit=='C':
        return temp * 9/5 +32
    elif unit=="F":
        return (temp -32)*5/9
    else:
        return None

print(deg_conversion(50,'C'))
print(deg_conversion(50,'F'))

122.0
10.0

In [6]:
#Paassword stsrength checker

def is_strong_pass(password):
    if len(password)<8:
        return False
    if not any(char.isdigit() for char in password):
        return False
    if not any(char.islower() for char in password):
        return False
    if not any(char.isupper() for char in password):
        return False
    if not any (char in "@#$%&*^!" for char in password):
        return False
    return True

print(is_strong_pass("Megha23415"))
print(is_strong_pass("uefg"))
print(is_strong_pass("shRey@123"))

False
False
True

In [4]:
#Calculatethe tota cost of items in a shopping cart
def calculate_total_cost(cart):
    total_cost=0
    for item in cart:
        total_cost+= item['price']* item["Quantity"]
    return total_cost


cart=[
    {'name':"Apple","price":20 ,"Quantity": 4},
    {'name':"Banana ","price":30 ,"Quantity": 2},
    {'name':"Chips ","price":20 ,"Quantity": 5},
    {'name':"Grapes ","price":30 ,"Quantity": 9}
]

total_cost=calculate_total_cost(cart)
print(total_cost)

510

In [14]:
# to check wheteher plaindrome or not

def is_palind(string):
    string=string.lower().replace(" ",'')
    return string==string[::-1]

print(is_palind("A man is at the door"))
print(is_palind("A man a plan a canal Panama"))

False
True

In [2]:
#Calculte he facyorial using recursion.
def fact(num):
    if num==1:
        return 1
    else:
        return num * fact(num-1)

print(fact(6))

720

In [3]:
#Function to read a file and count the freq of each word
def count_word_freq(file_path):
    word_count={}
    with open(file_path,'r') as file:
        for line in file:
            words=line.split()
            for word in words:
                word=word.lower().strip(".,!,/,?,$")
                word_count[word]=word_count.get(word,0)+1
    return word_count

word_freq=count_word_freq("sample.txt")
print(word_freq)

{'hello': 2, 'my': 1, 'name': 1, 'is': 1, 'meghana': 1, 'and': 1, 'i': 1, 'am': 1, 'learning': 1, 'ml': 1}

## LAMBDA fUNCTION
#### Small anonymous functions that can have any no of argumnets but only one expression.

#### SUNTAX::: lambda arguments :expression

In [1]:
def addition(a,b):
    return a+b
print(addition(2,3))

5

In [3]:
add=lambda a,b :a+b
print(add(2,3))
print(type(add))

5
<class 'function'>

In [4]:
def even (num):
    if num%2==0:
        return True
    
even(24)

True

In [6]:
even=lambda num:num%2==0
print(even(2))

True

## Map function: applies a function to all th elememnts in th elist

In [8]:
def square(num):
    return num**2

square(2)

4

##### Lmabda function without map

In [13]:
def square(num):
    return num**2
square(6)
numbers=[1,2,3,4,5,6]

list(map(square,numbers))

[1, 4, 9, 16, 25, 36]

##### Lmbda function iwth map

In [10]:
num=[1,2,3,4,5,6,7,8,9,10]
map(lambda x:x**2, num)
list(map(lambda x:x**2, num))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
## Multiple iterables

num1=[1,2,3]
num2=[5,6,7]

added_num=list(map(lambda x,y:x+y , num1 , num2))
print(f"added no are {added_num}")

multiple=list(map(lambda x,y : x*y , num1 ,num2))
print(f"Multiples are {multiple}")

added no are [6, 8, 10]
Multiples are [5, 12, 21]

In [20]:
# Map to convert list of strings into integers
str_num=['1','2','3','4','5']
int_num=list(map(int , str_num))

print(int_num)

[1, 2, 3, 4, 5]

In [21]:
words=["apple","cherrry",'mango']
upper= list(map(str.upper,words))
print(upper)

['APPLE', 'CHERRRY', 'MANGO']

In [30]:
def get_name(person):
    return person['name']


people=[
    {"name":'Aman' , 'age':4},
    {'name':'Shreya', 'age':4},
    {'name':'Atha' , 'age':8}
]
list(map (get_name , people))

['Aman', 'Shreya', 'Atha']

#### FILTER Function to filter out based on the condition

##### Filter using a def function

In [31]:
def even(num):
    if num%2==0:
        return True

In [32]:
lst=[1,2,3,4,5,6,7,8,9,10]
list(filter(even, lst))

[2, 4, 6, 8, 10]

#### Filter using a lambda function

In [35]:
# Filetr with even no 
even=lambda num:num%2==0
lst=[1,2,3,4,5,6,7,8,9,10]
list(filter(even,lst))

[2, 4, 6, 8, 10]

In [36]:
# Filetr with greater the 5 no
lst=[80,20,4,6,7,2,9,0,60,7]
greater_than_five=lambda x:x>5
list(filter(greater_than_five , lst))

[80, 20, 6, 7, 9, 60, 7]

In [37]:
# Filetr with even no and greater than five
lst=[80,20,4,6,7,2,9,0,60,7]
even_and_great = lambda x:x>5 and x%2==0
list(filter(even_and_great , lst))

[80, 20, 6, 60]

In [41]:
# check iif age is grater than 25
people=[
    {"name":'Aman' , 'age':40},
    {'name':'Shreya', 'age':45},
    {'name':'Atha' , 'age':8}
]

#age_greater= lambda people['age']:people['age']>25 , people

def age_greater(person):
    return person['age']>25
 

list(filter(age_greater , people))

[{'name': 'Aman', 'age': 40}, {'name': 'Shreya', 'age': 45}]